html{
	background:url('https://scontent-a-dfw.xx.fbcdn.net/hphotos-xfp1/t31.0-8/10556935_867743689927044_4349174940605546361_o.jpg') no-repeat center center;
	min-height:100%;
	background-size:cover;
}

.banner {
	background-color: black;
    color: white;
    position:fixed;
    margin: auto;
    width:600px;
    position: absolute;
    left:0; right:0;

}
.box {
    background-color: black;
    color: white;
    position:fixed;
    margin: auto;
    width:600px;
    height:300px;
    position: absolute;
    top: 10%; left: 25%; bottom: 0; right: 0;
    height:80%;

+#navigation { margin-top: lem; }
  +#navigation a {
  + display: inline-block;
  + background-color: black;
  + background-color: #57F;
  + color: #0F0;
  + padding: .25em .5em;
  +}
  +#footer {
  padding: 1.5em 5% 1.5em 5%;
  background-color: black;
  color: white;
  }
