html {
  background-color: Black;
  color: white;
  }

.box {
    width:600px;
    height:600px;
    position:fixed;
    table:centered;
    left=right
    top=bottom
}
  +#navigation { margin-top: lem; }
  +#navigation a {
  + display: inline-block;
  + background-color: #57F;
  + color: #0F0;
  + padding: .25em .5em;
  +}
  #footer {
  padding: 1.5em 5% 1.5em 5%;
  background-color: black;
  color: white;
  }
