html {
  background-size: 100% 100%;
  background-image: url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/10659015_866507656717314_5861674159782985017_o.jpg');
  background-repeat: no-repeat;
  background-color: Black;
  color: white;
}
  .box {
    width:1000px;
    height:1000px;
    position:fixed;
    margin-left:-150px; 
    margin-top:-150px;  
    top:20%;
    left:50%;  
  
   +#navigation { margin-top: lem; }
  +#navigation a {
  + display: inline-block;
  + background-color: #57F;
  + color: #000;
  + padding: .25em .5em;
  +}
  #footer {
  padding: 1.5em 5% 1.5em 5%;
  background-color: black;
  color: white;
  }
